In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv("train.csv")
train_data.head()

,Id,difficulty,ciphertext,target
0,ID_88b9bbd73,4,"ob|I K?zzhX*L{83B3Z,FuL*Pusm$83L\t@r$$*38,8s...",10
1,ID_f489bd59f,1,c1|FaAO120O'8ovfoy1W#atvGs1[1s1[1/1]O-a8o1-...,13
2,ID_f90fee9c7,2,1*e4N8$f$0ccOuihkHek$k*V*hoeV$Hj8VhH8...,19
3,ID_8303ced65,1,O8v^10O#to1'#^'^tv1^]s111t01Otaq>-ata_1...,17
4,ID_72abc2cb7,2,eV}H}khfe4b8'S.Vc}{A .#VikV.fV?{$f7$Hjb8...,0

In [3]:
data_by_level = {difficulty: train_data[train_data["difficulty"] == difficulty] for difficulty in train_data["difficulty"].unique()}
print(f"Available difficulties: {data_by_level.keys()}")

Available difficulties: dict_keys([4, 1, 2, 3])

In [4]:
data_by_level[1].head()

,Id,difficulty,ciphertext,target
1,ID_f489bd59f,1,c1|FaAO120O'8ovfoy1W#atvGs1[1s1[1/1]O-a8o1-...,13
3,ID_8303ced65,1,O8v^10O#to1'#^'^tv1^]s111t01Otaq>-ata_1...,17
13,ID_850984d77,1,*#^-G1_#O-#b^'ta8af2%e1|28Oot^12#O-#ys1>c...,18
15,ID_f61f4e2ab,1,*#^-G1\HL\5b#Oz8cA8Ac1|>O-c81 ^vvys1>cX...,6
16,ID_d87237dcc,1,1A]v-O1vT101-OA1#^^fas1-avtOfvT1c...,10

## Difficulty 1

Notice how rows 13 and 15 share the same beggining

In [7]:
train_data.iloc[[13, 15]]

,Id,difficulty,ciphertext,target
13,ID_850984d77,1,*#^-G1_#O-#b^'ta8af2%e1|28Oot^12#O-#ys1>c...,18
15,ID_f61f4e2ab,1,*#^-G1\HL\5b#Oz8cA8Ac1|>O-c81 ^vvys1>cX...,6

This hints that the difficulty 1 challenges may be encrypted with simple letter substitutions. Let's assume that is the case and see where it leads us.

One of the easiest ways to encrypt text is to shift all letters by a given number (wrapping around at the end of the alphabet). Since we are dealing with bytes, there are only 256 possible shifts - completely _bruteforceable_.

In [8]:
cipher_sample = data_by_level[1]["ciphertext"].tolist()[0]
print(f"Cipher length: {len(cipher_sample)}")
print(cipher_sample)

Cipher length: 300
c1|FaAO120O'8ovfoy1W#atvGs1[1s1[1/1]O-a8o1--#1^]1-a1av1vc]]#ad1]#^-1O1vz#1A'#vva^1#^cd0t1^s1[1o1-^'Ocv1Ov1W881Ov1O1-tO81#Of1A^W11>01av1ad1t#OtA1Wat0s1[1gO8oA^81Wat01v^-1vc__vv1ct1t01t#Ot-tv1ad1'#^zaAA1t0#^cd010#s1[1'vo_0aOt#avt1O#1^t1vOtav]O_t^#11>^-

In [ ]:
cipher_bytes = cipher_sample.encode()
for i in range(256):
    shifted_cipher = "".join([chr((c + i)%256) for c in cipher_bytes])
    print(f"{'-'*100}\nShift by: {i}\n{shifted_cipher}\n{'-'*100}")